<footer class="footer text-center ">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <h4 class="text-uppercase mb-4">Zhanna Arystanbekova, SE-2205</h4>
            </div>
        </div>
    </div>
</footer>